
#formDonator
{
    background-color: rgb(208,35,35 );
    height: 100vh;
}

.formBody
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
}

#formDonator .formBody .formHeader
{
    width: 50%;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 5px;
    border: 1px solid rgb(208,35,35 );
    background-color: rgb(208,35,35 );
    color: white;
}
input
{
    border: none;
    border-bottom: 1px solid rgb(208,35,35 );
    outline: none;
}
select
{
    border: rgb(208,35,35 );
}
